@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #0E172B;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1a2743;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.75;
}
